.gfml-container {
  @apply text-xs text-gray-700;

  * {
    @apply text-xs text-gray-700;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1 {
    font-size: 16px;
  }
  h2 {
    font-size: 15px;
  }
  h3 {
    font-size: 14px;
  }
  h4 {
    font-size: 13px;
  }
  h5,
  h6 {
    font-size: 12px;
  }
  hr {
    @apply my-2 mx-0 block w-full border-none bg-gray-200;
    min-height: 1px;
  }
  blockquote {
    @apply border-l-gray-200 py-0.5 pl-1.5;
    border-left-width: 3px;
  }
  img {
    max-width: 100%;
    max-height: 1000px;
  }
  table {
    border-collapse: collapse;

    td,
    th {
      padding: 3px 4px;
      font-weight: normal;
      border: 1px solid #bfccd6;
    }
  }
  code {
    @apply rounded-sm bg-bp-gray-2 font-mono;
    border-radius: 1px;
  }
  pre {
    @apply my-2;
    code {
      @apply rounded px-2 py-1;

      display: block;
      overflow: auto;
    }
  }
  p {
    @apply mb-2;
    code {
      padding: 1px 4px;
    }
  }
  ul {
    list-style-type: none;
    padding-left: 16px;

    li {
      @apply relative;
    }

    li:after {
      @apply absolute inline-block;
      content: '';
      top: calc(7px);
      left: -11px;
      border-radius: 50%;
      height: 3px;
      width: 3px;
      background: #202b33;
      z-index: 1;
    }

    input[type='checkbox'] {
      @apply absolute inline-block;
      top: 2px;
      left: -16px;
      transform: scale(0.8, 0.8);
      z-index: 10;
    }
  }
  ol {
    padding-left: 16px;
    list-style: decimal;
  }

  a,
  a:focus,
  a:active {
    color: #106ba3;
  }
  a:focus,
  a:active {
    text-decoration: underline;
  }
  a:visited {
    text-decoration: none;
  }

  iframe {
    max-width: 100%;
  }

  &.non-interactive * {
    pointer-events: none;
    @apply text-xs text-gray-700 no-underline;
  }
  &.faded * {
    @apply text-gray-500 #{!important};
  }
}
